body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: gray;
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.var-box {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  padding: 10px;
}

.var-box-right {
  width: 100%;
  margin-right: 100px;
}

.remove-variable {
  align-self: flex-start;
  padding: 5px 16px 8px;
  margin-left: 50px;
}

.add-variable {
  display: block;
  margin: 10px auto;
  padding: 5px 50px;
}

.variable {
  display: flex;
  gap: 5px;
}

.variable-name,
.variable-value,
.variable-error {
  flex: 1;
  padding: 5px 10px;
  font-size: 16px;
}

.expression-box {
  text-align: center; 
  padding: 10px;
}

#expression-input {
  text-align: center;
  padding: 10px;
}

.calculate-button {
  padding: 10px;
}

.results {
  background-color: blanchedalmond;
  padding: 10px;
  text-align: center;
}

.result-header {
  font-size: 30px;
  margin-bottom: 10px;
}

.result-value {
  font-size: 20px;
}

.footer {
  background-color: blue;
  padding: 10px;
  text-align: center;
}